---
// Código Server Side Only - Momento de construcción BUILD TIME 
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import type { PokemonListResponse } from '../interfaces/pokemon-list.response';
const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = await resp.json() as PokemonListResponse;
console.log(data);


---

<Layout title="Pokemon Home">
	<h1 class="text-3xl">Listado de Pokemons</h1>
	<hr>
	<ul>
		{
			data.results.map((pokemon) => (
				<li>{pokemon.name}</li>
			))
		}
	</ul>
</Layout>
